<!doctype html>
<html ng-app="todoApp">
<head>
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <script src="../../assets/js/angular.js"></script>

    <script>

        (function(){

            var model = {
                user: 'Juan'
            }

            var todoApp = angular.module("todoApp", []);

            /**
             * Run blocks are the closest thing in Angular to the main method.
             * A run block is the code which needs to run to kickstart the application.
             * It is executed after all of the service have been configured and the
             * injector has been created. Run blocks typically contain code which is
             * hard to unit-test, and for this reason should be declared in isolated
             * modules, so that they can be ignored in the unit-tests.
             *
             * example of when run block executes: http://jsfiddle.net/ysq3m/
             */
            todoApp.run(function ($http) {
                /**
                 * $http service returns a promise object with .success() and .error()
                 * promise objects allow you to do callbacks on them, e.g. success
                 *
                 * if we tell $http to fetch json it will automatically decode response into
                 * javascript objects and arrays.
                 */
                $http.get("../assets/data/items.json").success(function (data) {
                    model.items = data;
                });
            });

            todoApp.filter("checkedItems", function () {
                return function (items, showComplete) {
                    var resultArr = [];
                    angular.forEach(items, function (item) {
                        if (item.done == false || showComplete == true) {
                            resultArr.push(item);
                        }
                    });
                    return resultArr;
                }
            });

            /**
             *
             */
            todoApp.controller("ToDoCtrl", function () {

                this.todo = model;

                this.incompleteCount = function () {
                    var count = 0;
                    angular.forEach(this.todo.items, function (item) {
                        if (!item.done) { count++ }
                    });
                    return count;
                }

                this.warningLevel = function () {
                    return this.incompleteCount() < 3 ? "label-success" : "label-warning";
                }

                this.addNewItem = function (actionText) {
                   this.todo.items.push({ action: actionText, done: false });
                }

            });
        })();

    </script>

</head>
<body class="container" ng-controller="ToDoCtrl as todoCntrl">

    <div>
        <p>Expands on previous example to show service being called in run block:</p>
        <p>https://docs.angularjs.org/guide/services</p>
    </div>

    <div class="page-header">
        <h1>
            {{todoCntrl.todo.user}}'s To Do List
            <span class="label label-default"
                  ng-hide="todoCntrl.incompleteCount() == 0"
                  ng-class="todoCntrl.warningLevel()">

                {{todoCntrl.incompleteCount()}}
            </span>
        </h1>
    </div>

    <div class="panel">
        <div class="input-group">
            <input class="form-control" ng-model="actionText" />
            <span class="input-group-btn">
                <button class="btn btn-default"
                        ng-click="todoCntrl.addNewItem(actionText)">Add</button>
            </span>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Description</th>
                <th>Done</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in todoCntrl.todo.items | orderBy:'action' | checkedItems:todoCntrl.showComplete">
                    <td>{{item.action}}</td>

                    <!-- 2 way data binding -->
                    <td><input type="checkbox" ng-model="item.done" /></td>
                    <td>{{item.done}}</td>
                </tr>
            </tbody>
        </table>
        <div class="checkbox-inline">
            <label><input type="checkbox" ng_model="todoCntrl.showComplete"> Show Complete</label>
        </div>
    </div>
</body>
</html>