<form name="tradeForm" class="form-horizontal" ng-submit="tradeFormCtrl.addTrade(tradeForm, tradeFormCtrl.trade)">

    <div class="input-container">
        <fieldset class="form-group">
            <label for="longShort" class="col-sm-2 control-label">Long/Short:</label>
        <span class="col-sm-4">
          <input type="text" class="form-control" id="longShort"
                 ng-model="tradeFormCtrl.trade.longShort" placeholder="Long/Short">
        </span>
        </fieldset>

        <fieldset class="form-group">
            <label for="ticker" class="control-label col-sm-2">Ticker:</label>
        <span class="col-sm-4">
          <input type="text" id="ticker" class="form-control"
                 ng-model="tradeFormCtrl.trade.ticker"
                 maxLength="10" placeholder="Ticker">
        </span>
        </fieldset>

        <fieldset class="form-group">
            <label for="comment" class="control-label col-sm-2">Comment:</label>
        <span class="col-sm-4">
          <input type="text" id="comment" class="form-control"
                 ng-model="tradeFormCtrl.trade.comment"
                 maxLength="10" placeholder="Comment">
        </span>
        </fieldset>

        <fieldset class="form-group">
            <label for="rating" class="control-label col-sm-2">Rating:</label>
        <span class="col-sm-4">
          <input type="text" id="rating" class="form-control"
                 ng-model="tradeFormCtrl.trade.rating"
                 maxLength="10" placeholder="Rating">
        </span>
        </fieldset>

        <fieldset class="form-group">
      <span class="col-sm-4 col-sm-offset-2 button-from-hell">
        <button class="btn btn-default btn-xs">Save Trade</button>
      </span>
        </fieldset>
    </div>

</form>
