<!doctype html>
<html ng-app="todoApp">
<head>
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <script src="../assets/js/angular.js"></script>

    <script>

        (function(){

            /**
             * Model to use when not getting data from json
             * @type {{user: string, items: {action: string, done: boolean}[]}}
             */
            /*
            var model = {
                user: "Juan",
                items: [
                    { action: "Buy Flowers", done: false },
                    { action: "Get Shoes", done: false },
                    { action: "Collect Tickets", done: true },
                    { action: "Call Joe", done: false }
                ]
            };
            */

            var model = {
                user: 'Juan'
            }

            var todoApp = angular.module("todoApp", []);

            todoApp.run(function ($http) {
                $http.get("todo.json").success(function (data) {
                    model.items = data;
                });
            });

            todoApp.filter("checkedItems", function () {
                return function (items, showComplete) {
                    var resultArr = [];
                    angular.forEach(items, function (item) {
                        if (item.done == false || showComplete == true) {
                            resultArr.push(item);
                        }
                    });
                    return resultArr;
                }
            });

            todoApp.controller("ToDoCtrl", function () {

                this.todo = model;

                this.incompleteCount = function () {
                    var count = 0;
                    angular.forEach(this.todo.items, function (item) {
                        if (!item.done) { count++ }
                    });
                    return count;
                }

                this.warningLevel = function () {
                    return this.incompleteCount() < 3 ? "label-success" : "label-warning";
                }

                this.addNewItem = function (actionText) {
                   this.todo.items.push({ action: actionText, done: false });
                }


            });
        })();

    </script>

</head>
<body class="container" ng-controller="ToDoCtrl as todoCntrl">

    <div>
        <p>This example demonstrates on a single page much of the benefits of using a framework such as angular.</p>
        <ul>
            <li>MVC: logic for behavior is in its own controller, model data is in it's own data structure, etc</li>
            <li>2 Way Data Binding: click done checkboxes and watch true/false column and todo list count update. </li>
        </ul>
    </div>

    <div class="page-header">
        <h1>
            {{todoCntrl.todo.user}}'s To Do List
            <span class="label label-default"
                  ng-hide="todoCntrl.incompleteCount() == 0"
                  ng-class="todoCntrl.warningLevel()">

                {{todoCntrl.incompleteCount()}}
            </span>
        </h1>
    </div>

    <div class="panel">
        <div class="input-group">
            <input class="form-control" ng-model="actionText" />
            <span class="input-group-btn">
                <button class="btn btn-default"
                        ng-click="todoCntrl.addNewItem(actionText)">Add</button>
            </span>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Description</th>
                <th>Done</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in todoCntrl.todo.items | orderBy:'action' | checkedItems:todoCntrl.showComplete">
                    <td>{{item.action}}</td>

                    <!-- 2 way data binding -->
                    <td><input type="checkbox" ng-model="item.done" /></td>
                    <td>{{item.done}}</td>
                </tr>
            </tbody>
        </table>
        <div class="checkbox-inline">
            <label><input type="checkbox" ng_model="todoCntrl.showComplete"> Show Complete</label>
        </div>
    </div>
</body>
</html>