<!--
    ng-repeat has a variable named '$index' that holds the index
    of the current object in the data set.
-->

<div ng-repeat="(postId, post) in posts">
    <a href="{{ post.url }}">{{ post.title }}</a>
    <a ng-click="deletePost(postId)">delete</a>
</div>

<!--
    form with two inputs that are bound to the post model

    ng-submit will execute any expression you pass to it when
    the form has been submitted. In our case, we want it to
    execute 'submitPost()'.
-->
<form ng-submit="submitPost()">
    <input type="text" ng-model="post.title"/>
    <input type="text" ng-model="post.url"/>
    <input type="submit" value="Add Post"/>
</form>

