<!doctype html>
<html ng-app="store">
<head>
    <link rel="stylesheet" href="../../assets/css/bootstrap.css">
    <script src="../../assets/js/angular.js"></script>
</head>
<body class="container">

    <p>
        This is an improved version of tabs that moves the logic to a controller.
    </p>

    <!-- moved ng-init to controller.
    -->
    <section ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
            <!-- ng-class takes a bunch of arguments but we send in an object. If true set class to "active"-->
            <li ng-class="{ active:panel.isSelected(1)}">
                <a href ng-click="panel.selectTab(1)">Description</a>
            </li>
            <li ng-class="{ active:panel.isSelected(2) }">
                <a href ng-click="panel.selectTab(2)">Specifications</a>
            </li>
            <li ng-class="{ active:panel.isSelected(3) }">
                <a href ng-click="panel.selectTab(3)">Reviews</a>
            </li>
        </ul>

        <div class="panel" ng-show="panel.isSelected(1)">
            <h4>Description</h4>
            <p>{{panel.product.description}}</p>
        </div>
        <div class="panel" ng-show="panel.isSelected(2)">
            <h4>Specifications</h4>
            <blockquote>None yet</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(3)">
            <h4>Reviews</h4>
            <blockquote>None yet</blockquote>
        </div>
    </section>

<script type="text/javascript" src="app.js"></script>
</body>
</html>